Repository john-psina/django-monaco-editor, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, configuration, core, templates, tests

1.0.0
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

chore: remove subject pattern validation from PR checks workflow
  .github/workflows/pr-checks.yml
Labels: configuration

chore: update configuration and formatting
  django_monaco_editor/__init__.py
  django_monaco_editor/apps.py
  django_monaco_editor/conf.py
  django_monaco_editor/fields.py
  django_monaco_editor/templates/django_monaco_editor/monaco_widget.html
  django_monaco_editor/widgets.py
  pyproject.toml
Labels: dependencies, core, templates

chore: release version 1.0.1
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: update package name and clean up whitespace in README.md
  README.md
Labels: documentation

1.0.2
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: update PyPI publish workflow to trigger on release creation
  .github/workflows/publish-pypi.yml
Labels: configuration

1.0.3
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: update PyPI publish workflow to trigger on 'released' event
  .github/workflows/publish-pypi.yml
Labels: configuration

1.0.4
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

feat: add monacoEditorReady event for improved editor initialization
  README.md
  django_monaco_editor/templates/django_monaco_editor/monaco_widget.html
Labels: documentation, templates

1.1.0
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: enhance release workflow and configuration
  .github/workflows/release.yml
  pyproject.toml
Labels: dependencies, configuration

1.1.1
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

refactor: streamline release and publish workflows
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
Labels: configuration

fix: update release workflow to check version changes
  .github/workflows/release.yml
Labels: configuration

1.1.2
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: consolidate PyPI publishing steps into release workflow
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
Labels: configuration

1.1.3
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: adjust textarea overflow in Monaco Editor widget
  django_monaco_editor/templates/django_monaco_editor/monaco_widget.html
Labels: templates

1.1.4
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: include widget attributes in Monaco Editor template
  django_monaco_editor/templates/django_monaco_editor/monaco_widget.html
Labels: templates

1.1.5
  CHANGELOG.md
  django_monaco_editor/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

.github/labeler.yml:

# Automatic labeling for pull requests

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'requirements.txt'
  - 'pyproject.toml'

configuration:
  - '*.yml'
  - '*.yaml'
  - '.github/**/*'

core:
  - 'django_monaco_editor/**/*.py'

templates:
  - 'django_monaco_editor/templates/**/*'

tests:
  - '**/*test*.py'
  - 'tests/**/*'
